<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Recipe</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}"
          crossorigin="anonymous">
</head>
<body>
<div class="container">
    <form th:object="${recipe}" th:action="@{/recipe/}" method="post">
        <input type="hidden" th:field="*{id}">
        <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
            <p>Please correct errors below</p>
        </div>
        <div class="form-group">
            <div class="form-row">
                <div class="col">
                    <label for="description">Description</label>
                </div>
            </div>
            <div class="form-row">
                <textarea class="form-control" id="description" th:field="*{description}" th:errorclass="is-invalid"></textarea>
            </div>
            <div class="form-row">
                <span class="form-text" th:if="${#fields.hasErrors('description')}">
                    <ul>
                        <li th:each="err : ${#fields.errors('description')}" th:text="${err}" />
                    </ul>
                </span>
            </div>
        </div>
        <div class="form-group">
            <div class="form-row">
                <div class="col">
                    <label for="prepTime">Prep Time</label>
                </div>
                <div class="col">
                    <label for="prepTime">Cook Time</label>
                </div>
                <div class="col">
                    <label for="difficulty">Difficulty</label>
                </div>
            </div>
            <div class="form-row">
                <div class="col">
                    <input type="text" id="prepTime" class="form-control" th:field="*{prepTime}" th:class="${#fields.hasErrors('prepTime')} ? 'form-control is-invalid' : 'form-control is-valid'">
                    <span class="form-text" th:if="${#fields.hasErrors('prepTime')}">
                        <ul>
                            <li th:each="err : ${#fields.errors('prepTime')}" th:text="${err}"/>
                        </ul>
                    </span>
                </div>
                <div class="col">
                    <input type="text" id="cookTime" class="form-control" th:field="*{cookTime}"  th:class="${#fields.hasErrors('cookTime')} ? 'form-control is-invalid' : 'form-control is-valid'">
                    <span class="form-text" th:if="${#fields.hasErrors('cookTime')}">
                        <ul>
                            <li th:each="err : ${#fields.errors('cookTime')}" th:text="${err}"/>
                        </ul>
                    </span>
                </div>
                <div class="col">
                    <select id="difficulty" class="form-control" th:field="*{difficulty}">
                        <option th:each="difficultyValue : ${T(guru.springframework.domain.Difficulty).values()}"
                                th:value="${difficultyValue.name()}"
                                th:text="${difficultyValue.name()}">Easy</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="form-row">
                <div class="col">
                    <label for="servings">Servings</label>
                </div>
                <div class="col">
                    <label for="source">Source</label>
                </div>
                <div class="col">
                    <label for="url">URL</label>
                </div>
            </div>
            <div class="form-row">
                <div class="col">
                    <input type="text" id="servings" class="form-control" th:field="*{servings}" th:class="${#fields.hasErrors('servings')} ? 'form-control is-invalid' : 'form-control is-valid'">
                    <span class="form-text" th:if="${#fields.hasErrors('servings')}">
                        <ul>
                            <li th:each="err : ${#fields.errors('servings')}" th:text="${err}"/>
                        </ul>
                    </span>
                </div>
                <div class="col">
                    <input type="text" id="source" class="form-control" th:field="*{source}">
                </div>
                <div class="col">
                    <input type="text" id="url" class="form-control" th:field="*{url}" th:class="${#fields.hasErrors('url')} ? 'form-control is-invalid' : 'form-control is-valid'">
                    <span class="form-text" th:if="${#fields.hasErrors('url')}">
                        <ul>
                            <li th:each="err : ${#fields.errors('url')}" th:text="${err}"/>
                        </ul>
                    </span>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="form-row">
                <label class="col" for="directions">Directions</label>
            </div>
            <div class="form-row">
                <textarea class="form-control" id="directions" th:field="*{directions}"></textarea>
            </div>
        </div>

        <div class="form-group">
            <div class="form-row">
                <label class="col" for="notes">Notes</label>
            </div>
            <div class="form-row">
                <textarea class="form-control" id="notes" th:field="*{notes.recipeNotes}"></textarea>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
</body>
</html>