<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ingredients</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}"
          crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div class="card">
        <div class="card-header" th:text="'Ingredients for ' + ${recipe.description}">Ingredients</div>
        <div class="card-body">
            <table class="table table-stripes">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Description</th>
                    <th scope="col">View</th>
                    <th scope="col">Update</th>
                    <th scope="col">Delete</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="ingredient : ${recipe.ingredients}">
                    <th scope="row" th:text="${ingredient.id}">1</th>
                    <td th:text="${ingredient.amount} + ' ' + ${ingredient.unitOfMeasure?.description} + ' ' + ${ingredient.description}">Yummy Goodness</td>
                    <td><a th:href="@{'/recipe/' + ${recipe.id} + '/ingredient/' + ${ingredient.id}}">View</a></td>
                    <td><a th:href="@{'/recipe/' + ${recipe.id} + '/ingredient/' + ${ingredient.id} + '/update'}">Update</a></td>
                    <td><a th:href="@{'/recipe/' + ${recipe.id} + '/ingredient/' + ${ingredient.id} + '/delete'}">Delete</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>